<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row mb-3 mt-3">
        <div class="col-8 offset-2">
            <h2>Edit Listing</h2>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                    <div class="invalid-feedback">Please enter a catchy title!</div>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter description</div>
                </div>
                <div class="mb-3">
                    <p>Image Preview</p>
                    <img src="<%= originalUrl %>" alt="listing image">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" type="text" value="<%= listing.location %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location is required!</div>
                    </div>                    
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid country name</div>
                </div>    
                <button class="btn btn-dark edit-btn mb-3 mt-3">Edit</button>        
            </form>
            </div>
        </div>    
</body>
